/* Website template by freewebsitetemplates.com */
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: #fff;
	font-family: 'OpenSans';
	margin: 0;
}
img {
	border: 0;
}
.clearfix:after, #contents:after {
	clear:both;
	content:"";
	display:block;
	height:1%;
	line-height:0;
	visibility:hidden;
}

code, blockquote {
	display:block;
	border-left:5px solid #ddd;
	padding:10px;
	margin: 0;
	margin-bottom:20px;
}

blockquote p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0;
	height: 1%;
}
/*------------------------------ HEADER ------------------------------*/
#header-wrapper {
	width: 100%;
	background-color: #eee;
}
#header {
	width: 950px;
	margin: 0 auto;  
	background-color: #eee;
	border-bottom: 1px solid #e6e6e6;
	padding: 25px 0 16px 0;
/*	padding: 27px 0;*/
}
#header > div, #footer > div {
	width: 920px;
	margin: 0 auto;
	padding: 0; /* */
}
/** Logo **/
#header .logo {
	float: left;
	margin: -7px 30px 5px 20px;
}
#header .logo a {
	/*background: url(../images/logo.png) no-repeat center top;*/
	color: #000;
	display: block;
	font-size: 13px;
	/*font: 15px/30px 'Play';*/
	height: 5px;
	width: 100px;
	padding-top: 0;
	text-decoration: none;
	text-transform: uppercase;
}
/** Navigation **/
#navigation {
	display: inline-block;
	list-style: none;
	line-height: 18px;
	margin: 0;
	padding: 0;
}
#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	width: 160px;
	text-align: center;
}
#navigation li a {
	color: #818181;  
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
}
#navigation li a:hover {
	color: #000;
}
#navigation li.active a {
	color: #f99600;
}


/*------------------------------ CONTENTS ------------------------------*/
#contents {
	min-height: 610px;
	width: 880px;
	margin: 0 auto;
	padding: 54px 40px;
}
h1 {
	color: #80B763;
	font-size: 26px;
	font-weight: normal;
	line-height: 25px;
	margin: 0 0 30px 0;
}
h2 {
	color: #2c2c2c;
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px 0;
}
p {
	color: #585858;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px;
}
p a {
	color: #585858;
	/*text-decoration: none;*/
}

/** main **/
#main {
	width: 880px;  /* "line" width below h1 */
	margin: 0 auto;
}
#main h1, .section h1 {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 12px;
}
.main h2 span {
	display: block;
	font-size: 12px;
}
#main li {
	margin:25px; /* space between two items */
}

#main li a {
	color: #585858;
	text-decoration: none;
}
#main li a:hover {
	color: #80B763;
}

#main table a {
/*	font-family:"Times New Roman", Times, serif;*/
	font-size: 14px;
	color: #066CD1;
	text-decoration: none;
	position: relative;
	left: 22px;
	top:-5px;
}
#main table a:hover {
	color: #80B763;
}
/* #main table a:visited {
	color: #85929E;
}*/


